button {
    background-color: #DE1A1A;
    border: 1.5px solid #565554;
    color: white;
    padding: 1rem 2rem;
    width: 15rem;
    font-size: 1rem;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.4);
}

button:hover {
    cursor: pointer;
}